
/* title for search result or tagged posts*/
.label-title {
    margin-top: 1.1em;
    font-size: 20px;
    font-weight: normal;
    color: #888;
}

.post {
    padding: 25px 0 15px;
    width: 80%;
}

.post .post-title {
    margin: 0;
    color: #555;
    text-align: left;
    font-weight: bold;
    font-family: "ff-tisa-web-pro", Cambria, "Times New Roman", Georgia, Times, sans-serif;
    background: url("dotted-border.png") repeat-x scroll left bottom transparent;
}

.post .post-title a {
    color: #555;
}

.post .post-meta {
    padding: 0;
    margin: 15px 0 0;
    color: #6E7173;
    /* float: left; */
    display: inline;
    text-indent: .15em;
}

.post .post-meta:before {
    font-family: "FontAwesome";
    content: "\f073";
    padding-right: 0.3em;
}

.post .post-meta .category:before {
    font-family: "FontAwesome";
    content: "\f07c";
    padding-right: 0.3em;
}

.post .post-meta #busuanzi_value_page_pv:before {
    font-family: "FontAwesome";
    content: "\f024";
    padding-right: 0.3em;
}

.post .ds-thread-count {
    padding: 0;
    margin: 15px 0 0;
    color: #6E7173;
    /* float: right; */
    display: inline;
    text-indent: .15em;
}

.post .ds-thread-count:before {
    font-family: "FontAwesome";
    content: "\f0e5";
    padding-right: 0.3em;
}

.post .ds-thread-count:hover {
    color: #444;
}

.post .disqus-comment-count {
    padding: 0;
    margin: 15px 0 0;
    color: #6E7173;
    /* float: right; */
    display: inline;
    text-indent: .15em;
}

.post .disqus-comment-count:before {
    font-family: "FontAwesome";
    content: "\f0e5";
    padding-right: 0.3em;
}

.post .disqus-comment-count:hover {
    color: #444;
}

.post .post-content {
    clear: left;
    font-size: 15px;
    line-height: 1.77;
    color: #444;
    padding-top: 15px;
    text-align: justify;
    text-justify: distribute;
    word-break: normal;
    /* border-bottom: 2px inset #ddd; */
}

.post .post-content h2 {
    margin: 1.4em 0 1.1em;
    border-bottom: 1px solid #eee;
    overflow: hidden;
}

.post .post-content h3 {
    margin: 1.4em 0 1.1em;
}

.post .post-content pre code {
    padding: 0 2em;
}

.post .post-content p {
    margin: 0 0 1.234em;
}

.post .post-content p code {
    display: inline-block;
    margin: 0 5px;
    padding: 0 5px;
    background: #f7f8f8;
}

.post .post-content p a {
    color: #01579f;
    padding-bottom: 2px;
    word-break: break-all;
}

.post .post-content p a:hover {
    text-decoration: underline;
}

.post .post-content p .caption {
    color: #444;
    display: block;
    font-size: 0.9em;
    margin-top: 0.1em;
    position: relative;
    text-align: center;
}

.post .post-content hr {
    margin: 2.4em auto;
    border: none;
    border-top: 1px solid #eee;
    position: relative;
}

.post .post-content img {
    max-width: 100%;
    padding: 0.5em 0;
    margin: auto;
    display: block;
}

.post .post-content ul, .post .post-content ol {
    border-radius: 3px;
    margin: 1em 0;
}

.post .post-content ul ul, .post .post-content ol ul {
    margin: 0;
}

.post .post-content ul code, .post .post-content ol code {
    display: inline-block;
    margin: 0 5px;
    padding: 0px 5px;
    background: #f7f8f8;
}

.post .post-content ul a, .post .post-content ol a {
    color: #01579f;
    padding-bottom: 2px;
    word-break: break-all;
}

.post .post-content ul a:hover, .post .post-content ol a:hover {
    text-decoration: underline;
}

.post .tags {
    padding-bottom: 1em;
}

.post .tags a {
    margin-right: .5em;
}

.post .tags a:before {
    font-family: "FontAwesome";
    content: "\f0c6";
    padding-right: 0.3em;
}
 
@media all and (max-width: 599px) and (min-width: 320px) {
    .post .post-title, h1, h2, h3{
        font-size: 150%;
    } 
    .post {
        width: 100%;
    }
}