/* read more*/
p.readmore a {
    font-size: 14px;
    color: #444;
    margin: -10px 0;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    float: right;
}

p.readmore a:after {
    font-family: "FontAwesome";
    content: "\f101";
    padding-left: 0.3em;
}

p.readmore a:hover {
    background: #F8F8F8;
    border-bottom-color: #0073c6;
}

