/* read more*/
p.readmore a {
    font-size: 14px;
    color: #444;
    margin: -10px 0;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    float: right;
}

p.readmore a:after {
    font-family: "FontAwesome";
    content: "\f101";
    padding-left: 0.3em;
}

p.readmore a:hover {
    background: #F8F8F8;
    border-bottom-color: #0073c6;
}

/* post navigator*/
.post-nav {
    overflow: hidden;
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 10px;
    white-space: nowrap;
    border-top: 1px solid #eee;
}

.post-nav a {
    display: inline-block;
    line-height: 25px;
    font-size: 15px;
    color: #555;
    border-bottom: none;
    /* float: left; */
}

.post-nav a.pre {
    float: left;
}

.post-nav a.pre:before {
    font-family: "FontAwesome";
    content: "\f0d9";
    padding-right: 0.3em;
}

.post-nav a.next {
    float: right;
}

.post-nav a.next:after {
    font-family: "FontAwesome";
    content: "\f0da";
    padding-left: 0.3em;
}

.post-nav a:hover {
    border-bottom: none;
    color: #222;
}