/**
 * Sliding swipe menu CSS
 */
 nav.examplenav {
    height: 100%;
    width: 280px;
    background-color: #0a4a3c;
    left: 0;
    top: 0;
    z-index: 2;
    position: fixed;
    overflow-y: auto;
    overflow-x: visible;
    transform: translate(-280px,0);
}
.ssm-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.2);
    display: none;
    z-index: 1;
}

.open-navigation{
	position:absolute;
	bottom:20px;
	left:20px;
	width:200px;
	text-decoration:none;
	border-bottom:none;
	text-align:left;
}
.open-navigation i{
	padding:10px;
	font-size:20px;
	border-radius:4px;
	background-color:#fff;
	width:40px;
	height:40px;
	text-align:center;
	float:left;
}
.open-navigation img{
	margin-left:8px;
	float:left;
	animation: animateOpacity 2s linear infinite;
}