{% extends "base.html" %}

{% block title %}{{ category }} | {{ SITENAME }}{% endblock title %}

{% block content %}
<div class="post">
    <h1 class="label-title text-center">{{ category }}</h1>
    {% for article in articles_page.object_list %}
    <div class="post-content">
        <div class="recent-post-header">
            <a class="post-title" href="{{ SITEURL }}/{{ article.url }}">
                <h4>{{article.title}}
                <span class="link">&raquo;</span>
                </h4>
                </a>
            <div class="tags">
                {% for tag in article.tags %}
                <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endfor %}
</div>
{% endblock content %}


